body {
    background-color: black;
    color: white;
    font-family: Consolas, serif;
}

#wrapper{ margin:20px auto; width:1200px;}

.box {
    margin:6px;
    float:left;
    padding:5px;
    border: red solid 1px;
    border-radius:10px;
    background-color:#333333;
}

.label1 {margin-left:40px; display:inline-block; width:110px;}
.label2 {margin-left:40px; display:inline-block; width:230px;}
.label3 {margin-left:40px; display:inline-block; width:300px;}

.del_up, .del_down, .blue_up, .blue_down, .book_up, .book_down, .add_up, .add_down {
    min-width:170px;
    padding:12px 20px;
    font-size:18px;
    border-radius:24px;
    color:white;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-weight:bold;
/*    letter-spacing:.1em;
    text-decoration:none;
*/
}

.book_up    { background-image:linear-gradient(to bottom, #59707E 0%, #0E1F33 100%); }
.book_down  { background-image:linear-gradient(to bottom, #0E1F33 0%, #59707E 100%); }
.blue_up    { background-image:linear-gradient(to bottom, #59707E 0%, #0E1F33 100%); }
.blue_down  { background-image:linear-gradient(to bottom, #0E1F33 0%, #59707E 100%); }
.del_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.del_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }
.add_up     { background-image:linear-gradient(to bottom, #44BB44 0%, #338833 100%); }
.add_down   { background-image:linear-gradient(to bottom, #338833 0%, #44BB44 100%); }

.book_up, .book_down {
    text-align: left;
    font-size:14px;
    font-weight: normal;
    margin: 6px;
    font-family: Consolas, serif;
}
.blue_up, .blue_down {
    padding:12px 50px;
}
.del_up, .del_down, .add_up, .add_down {
    min-width:28px;
    padding:3px 0;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

.del_up, .del_down {
    padding:1px 0 5px 0;
}
.greenBox, .whiteBox, .blueBox  {
    float:left;
    padding:20px; border-radius:20px; display: inline-block;
    margin-left:6px; margin-bottom:6px;
    min-width: 540px; min-height: 150px;
    color: white;
    text-align: left;
    font-family: Consolas, serif;
}
.greenBox {
    background:rgba(140, 190, 070, 0.3);
}
.whiteBox {
    background:rgba(255, 255, 255, 0.3);
}
.blueBox {
    background:rgba(180, 180, 255, 0.3);
}

a:link          { color:cyan;    }
a:active        { color:red;     }
a:visited       { color:magenta;  }
a:link:hover,
a:visited:hover { color:lightgreen; }

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
